.imgcontainer{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 35rem;
}
.imgcontainer img{
    width: 100%;
    height: 100%;
}

#TODO: make the image container more responsive, currently it is not responsive and it is not centered on smaller screens.